{% extends "layout.html.twig" %}

{% block content %}
		<h1>Velkommen!</h1>
		<p>Før du kan bruke hybelen må du registrere deg. Informasjonen du registrerer vil bli brukt som følger:</p>
		<ul>
			<li>Navn og telefonnummer vil vises for alle som trykker på en booking i kalenderen.</li>
			<li>Din e-post vil bli brukt til å gi deg beskjed når din booking blir godkjent eller avvist.</li>
		</ul>
		<p>Du kan når som helst endre eller slette informasjonen som er lagret om deg.</p>
		<form action="register_user.php" method="post">
			<div class="label-container">
				<label for="fullname">Fullt navn</label>
				<input type="text" name="fullname" id="fullname" required>
			</div>
			<div class="label-container">
				<label for="phone">Telefonnummer</label>
				<input type="tel" name="phone" id="phone" pattern="\d{8}" title="8 siffer uten mellomrom" required>
			</div>
			<div class="label-container">
				<label for="email">E-post</label>
				<input type="email" name="email" id="email" required>
			</div>
			<input type="submit" value="Registrer ny bruker" class="btn btn__primary">
		</form>
{% endblock %}
