{% extends "layout.html.twig" %}
{% block content %}
	<p>Bookingen
		<em>{{ title }}</em>
		er oppdatert.</p>
		<p>Du får tilsendt en e-post når den blir godkjent eller avvist.</p>
	<div class="booking-buttons">
		<a href="/" class="btn btn__secondary">Hjem</a>
		<a href="/newbooking.php" class="btn btn__secondary">Ny booking</a>
	</div>
{% endblock %}
